.tabnav-navbar {
    display: flex;
    justify-content: space-evenly;
}

.tabnav-navbar button {
    text-align: center;
    font-size: 30px;
    border: 1px black solid;
    border-radius: 50%;
}

.tabnav-navbar i {
    padding: 10px;
    min-height: 50px;
    min-width: 50px;
}
