[class ^= 'btn-'] {
	display: block;
	padding: 16px 32px;
	border: none;
	border-radius: 100px;
	box-shadow: var(--drop-shadow);
	margin: auto;
	font-size: 1rem;
}

.btn-dark {
    background: var(--text-color);
    color: var(--background-color);
}

.btn-light {
    background: var(--background-color);
    color: var(--text-color);
}