.countdown-container {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	box-shadow: 0px 0px 16px rgba(118, 149, 194, 0.25);
	border-radius: 32px;
	margin: 1rem 0 2rem;
	width: 100%;
	max-width: 450px;
	transition: 0.3s ease-in-out;
}

.countdown-container:hover {
	cursor: pointer;
	background-color: var(--red);
	box-shadow: 0px 0px 4px rgba(118, 149, 194, 1);
}

.countdown-container:hover .santa-hat {
	rotate: 5deg;
}

.countdown-left {
	text-align: center;
	font-size: min(120px, 60vw);
	margin: 0;
	padding: 0;
	font-weight: 600;
}

.countdown-right {
	display: flex;
	flex-direction: column;
	font-family: "Bree Serif";
	font-size: 30px;
	line-height: 100%;
}

/* */

.calender-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -12%;
	right: 0%;
	background-color: var(--text-color);
	border-radius: 20px;
	padding: 0.5rem 2rem;
	color: white;
}

.calender-icon img {
	color: white;
	width: 25px;
	margin-right: 0.5rem;
}

.calender-icon p {
	color: white;
}

.countdown-container .santa-hat {
	position: absolute;
	top: -50%;
	right: -10%;
	width: 120px;
	/* rotate: 10deg; */
	transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 550px) {
	.countdown-container .santa-hat {
		display: none;
	}
}
