.Community .tab-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	scroll-behavior: smooth;
}

.Community .tab {
	width: 100%;
	flex-shrink: 0;
}

.Community .tab h2 {
	text-align: center;
}

.Community .active {
	color: var(--red);
}