.Form {
    width: 100%;
    max-width: 600px;
}

.Form label, .Form input {
    display: block;
    width: 100%;
}

.Form input {
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
    border: none;
}

.Form label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}