.card,
.card-dark {
	justify-content: center;
	align-items: center;
	margin: 20px;
	border: solid black 1px;
	padding: 25px;
	box-shadow: -7px 7px 0 black;
	border-radius: 25%;
	max-width: 150px;
	min-height: 50px;
	transition: 0.3s ease-in-out;
}

.card-dark {
	background-color: white;
	border: solid white 2px;
	box-shadow: -7px 7px var(--red);
}
.card,
.card-dark p {
	text-align: center;
	pointer-events: none;
}

.card:hover,
.card-dark:hover {
	box-shadow: none;
	/* background-color: rebeccapurple; */
	box-shadow: -5px 5px;
}

.card .symbols,
.card-dark .symbols {
	font-size: 70px;
	padding: 0;
	margin: 0;
	pointer-events: none;
}

.tab-container h1 {
	text-align: center;
	pointer-events: none;
}

/* Price Compare */

.price-items-container {
	overflow-y: scroll;
}

.price-item {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	padding: 1rem 0.5rem;
	border: 2px solid black;
	border-radius: 20px;
	margin: 0.5rem 0;
	background-color: white;
	box-shadow: var(--drop-shadow);
}

.price-item img {
	width: 100%;
}

.price-details {
	padding-left: 1rem;
}
