.card {
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: solid black 1px;
    padding: 25px;
    box-shadow: -7px 7px;
    border-radius: 25%;
    max-width: 150px;
    min-height: 50px;
}
.card p {
    text-align: center;
}

.card:hover {
    box-shadow: none;
    /* background-color: rebeccapurple; */
    box-shadow: -5px 5px;
}

.card .symbols {
    font-size: 70px;
    padding: 0;
    margin: 0;
}

.tab-container h1 {
    text-align: center;
}
