.fun-fact {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: var(--green);
	text-shadow: -1px 1px 0 black;
	border-top: 2px solid var(--green);
	border-bottom: 2px solid var(--green);
	padding: 0.5rem 0;
	width: 100%;
	max-width: 700px;
}
