.fun-fact-container {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	width: 100%;
	max-width: 700px;
	background-color: white;
	border-radius: 12px;
	box-shadow: var(--shadow);
	max-width: 600px;
	margin: 0.5rem auto;
}

.fun-fact-heading {
	background-color: var(--text-color);
	color: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding: 0.5rem;
}

.fun-fact {
	padding: 0.5rem;
}
