.friends-container {
	padding: 1rem 0 2rem 0 !important;
}

.friends-container h2 {
	font-size: 30px;
}

.friends-container hr {
	border: 2px dashed black;
	width: 90vw;
}

.friends-heading {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 0.5rem 0 0;
}

/* .friends-heading i {
	font-size: 30px;
	margin-right: 1rem;
} */

.friends-heading img {
	height: 40px;
	margin-right: 1rem;
}

.friends-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
