.friends-container {
    padding: 1rem 0 2rem 0 !important;
}

.friends-container h2 {
    font-size: 30px;
}

.friends-container hr {
    border: 2px dashed black;
    width: 90vw;
}

.friends-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0 0;
}

.friends-heading img {
    height: 40px;
    margin-right: 1rem;
}

.friends-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.friends-heading button {
    margin-left: auto;
    font-size: 40px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.friends-heading button:hover {
    transform: translateX(-5px);
}

/* Form */
.add-or-invite h3 {
    margin: 2rem 0 0.5rem;
}

.add-or-invite-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(14, 35, 50, 0.7);
    color: white;
}

.add-or-invite {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--text-color);
    border-radius: 20px;
    padding: 1rem 3rem;
    font-size: 24px;
}

.add-or-invite label {
    color: white;
}

.add-or-invite input {
    border-radius: 6px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 60vw;
    max-width: 400px;
    border: none;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.add-or-invite input[type="submit"] {
    font-weight: 800;
}

.add-or-invite input[type="submit"]:hover {
    background-color: var(--red);
    color: white;
}

.add-or-invite i {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.add-or-invite i:hover {
    color: var(--red);
}

.add-or-invite form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
