.friends-container h2 {
	font-size: 30px;
}

.friends-container hr {
	border: 2px dashed black;
	width: 90vw;
}

.friends-heading {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.friends-heading i {
	font-size: 30px;
	margin-right: 1rem;
}

.friends-list {
	width: 100%;
}
