.Modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 32px;
    cursor: pointer;
}

.content, .content p, .content label {
    color: white;
}

.content a {
    color: white;
}

.content {
    background-color: var(--text-color);
    padding: 32px;
    border-radius: 16px;
    position: relative;
    width: 60%;
    min-width: 320px;
    max-width: 496px;
}

.content, .content p, .content input {
    font-size: 1.2rem;
}

.hidden {
    display: none;
}