.Modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    background-color: var(--text-color);
    padding: 16px;
    border-radius: 8px;
}

.hidden {
    display: none;
}