.holiday-navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 70px;
	background-color: var(--red);
}

.holiday-navbar i {
	color: black;
	font-size: 34px;
}
