.Navbar {
    width: 100%;
    background: linear-gradient(white, transparent);
    padding: 8px 5%;
    display: flex;
    justify-content: space-between;
}

.Navlinks {
    display: none;
}

@media screen and (min-width: 768px) {
    .Navlinks {
        display: inline-block;
    }
}