.Shortcuts {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(transparent, #e4f5ff);
    /* background: var(--red); */
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.Shortcuts i {
	color: black;
	font-size: 34px;
	/* text-shadow: -2px 2px 0 var(--grey-shadow); */
	transition: 0.3s ease-in-out;
}

.Shortcuts i:hover {
	color: white;
	/* text-shadow: -2px 2px 0px black; */
	scale: 1.05;
}

.Shortcuts a.active > i {
    color: white;
}

.svg-separator {
	display: block;
	background: 0 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
	-webkit-transform: translateY(-100%) translateY(2px);
	transform: translateY(-100%) translateY(2px);
	width: 100%;
}

@media screen and (min-width: 768px) {
    .Shortcuts {
        display: none;
    }
}