.App {
	visibility: visible;
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

.snowflake {
	position: absolute;
	opacity: 0.3;
	top: -50px;
	background-image: url(./assets/images/snowflake.png);
	background-size: cover;
	animation: fall infinite linear;
}

.snowflake-container {
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: -100;
}

@keyframes fall {
	from {
		top: -50px;
	}

	to {
		top: 100vh;
		rotate: 360deg;
	}
}

.dark-mode-btn,
.dark-mode-btn-light {
	position: absolute;
	top: 2%;
	right: 3%;
	font-size: 30px;
	cursor: pointer;
	background-color: none;
	border: none;
	transition: 0.3s ease-in-out;
}

.dark-mode-btn-light {
	color: white;
}

.dark-mode-btn:hover,
.dark-mode-btn-light:hover {
	color: var(--red);
	scale: 1.1;
}
