.App {
	visibility: visible;
}

@media screen and (min-width: 425px) {
	
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 1024px) {
	
}

.snowflake {
	position: absolute;
	opacity: 0.3;
	top: -50px;
	background-image: url(./assets/images/snowflake.png);
	background-size: cover;
	animation: fall infinite linear;
}

.snowflake-container {
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: -100;
}

.snowflake:hover {
	animation-play-state: paused;
}

@keyframes fall {
	from {
		top: -50px
	}

	to {
		top: 100vh;
		rotate: 360deg;
	}
}