/* Google Fonts 

font-family: 'Pacifico', cursive; / Main Heading
font-family: 'Poppins', sans-serif;  // Normal

*/

/* Root */
:root {
	--red: rgb(250, 82, 82);
	--green: rgb(18, 184, 134);
	--purple: rgb(121, 80, 242);
	--blue: rgb(34, 139, 230);
	--grey-shadow: rgba(255, 255, 255, 0.3);
}

/* General */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	min-height: 100vh;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1,
h2 {
	font-family: "Pacifico", sans-serif;
}

p,
a,
button,
input,
h3,
h4,
h5 {
	font-family: "Poppins", sans-serif;
}

/* Reusable main container*/

.main-container {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 1rem 0;
	height: 92vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
