/* Google Fonts 
font-family: 'Bree Serif', serif;
font-family: 'Pacifico', cursive;
*/

/* Root */
:root {
	--red: rgb(250, 82, 82);
	--green: rgb(18, 184, 134);
	--purple: rgb(121, 80, 242);
	--blue: rgb(34, 139, 230);
	--grey-shadow: rgba(255, 255, 255, 0.3);
	--shadow: 0px 0px 16px rgba(118, 149, 194, 0.25);
	--main-font: "Pacifico", sans-serif;
	--normal-font: "Bree Serif", serif;
	--text-color: #0e2332;
	--background-color: white;
	--drop-shadow: 0px 0px 16px #7695c240;
}

/* General */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: #f9fdff;
	color: var(--text-color);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	/* background-image: linear-gradient(to top, var(--red) 0%, var(--green) 100%); */
	background: var(--red);
	margin-left: 2rem;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1 {
	font-family: "Pacifico", sans-serif;
	color: var(--red);
	text-shadow: -2px 2px 0 black;
	letter-spacing: 1px;
	font-size: min(70px, 10vw);
	z-index: 100;
}

h2,
h3,
h4,
h5 {
	font-family: "Bree Serif", serif;
	font-weight: 600;
}

p,
a,
button,
input,
label {
	font-family: "Bree Serif", serif;
	color: var(--text-color);
}

button,
input[type="button"],
input[type="submit"] {
	border: none;
	cursor: pointer;
	color: var(--text-color);
}

#root {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

/* Reusable main container*/
/* .main-container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0.5rem !important;
	height: 90vh; */
	/* overflow-x: hidden; */
	/* overflow-y: scroll; */
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
} */
