/* Google Fonts 
font-family: 'Bree Serif', serif;
font-family: 'Pacifico', cursive;
*/

/* Root */
:root {
	--red: rgb(250, 82, 82);
	--green: rgb(18, 184, 134);
	--purple: rgb(121, 80, 242);
	--blue: rgb(34, 139, 230);
	--grey-shadow: rgba(255, 255, 255, 0.3);
	--shadow: 0px 0px 16px rgba(118, 149, 194, 0.25);
	--main-font: "Pacifico", sans-serif;
	--normal-font: "Bree Serif", serif;
	--text-color: #0e2332;
	--background-color: white;
	--drop-shadow: 0px 0px 16px #7695c240;
}

/* General */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: #f9fdff;
	color: var(--text-color);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	/* background-image: linear-gradient(to top, var(--red) 0%, var(--green) 100%); */
	background: rgb(255, 174, 174);
	margin-left: 2rem;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background: var(--red);
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1 {
	font-family: "Pacifico", sans-serif;
	color: var(--red);
	text-shadow: -2px 2px 0 black;
	letter-spacing: 1px;
	font-size: min(70px, 10vw);
	/* z-index: 100; */
}

h2,
h3,
h4,
h5 {
	font-family: "Bree Serif", serif;
	font-weight: 600;
}

p,
a,
button,
input,
label {
	font-family: "Bree Serif", serif;
	color: var(--text-color);
}

a.active > i {
	color: white;
}

button,
input[type="button"],
input[type="submit"] {
	border: none;
	cursor: pointer;
	color: var(--text-color);
}

#root {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

/* Reusable main container*/
/* .main-container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0.5rem !important;
	height: 90vh; */
/* overflow-x: hidden; */
/* overflow-y: scroll; */
/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
} */

/* Form */
.modal-outer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(14, 35, 50, 0.7);
	color: white;
}

.modal-inner h3 {
	margin: 2rem 0 0.5rem;
}

.modal-inner {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background-color: var(--text-color);
	border-radius: 20px;
	padding: 1rem 3rem;
	font-size: 24px;
	max-width: 1000px;
	width: 90%;
	height: 70vh;
	margin: 0 auto;
	color: white;
}

.modal-inner i {
	position: absolute;
	top: 2%;
	right: 2%;
	color: white;
	font-size: 30px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.modal-inner i:hover {
	color: var(--red);
}
