/* Google Fonts 

font-family: 'Bree Serif', serif;
font-family: 'Pacifico', cursive;

*/

/* Root */
:root {
	--red: rgb(250, 82, 82);
	--green: rgb(18, 184, 134);
	--purple: rgb(121, 80, 242);
	--blue: rgb(34, 139, 230);
	--grey-shadow: rgba(255, 255, 255, 0.3);
	--shadow: 0px 0px 16px rgba(118, 149, 194, 0.25);
	--main-font: "Pacifico", sans-serif;
	--normal-font: "Bree Serif", serif;
	--text-color: #0e2332;
	--background-color: #eff5ff;
}

/* General */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eff5ff;
	min-height: 100vh;
	overflow-x: hidden;
	color: var(--text-color);
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1 {
	color: var(--red);
	text-shadow: -2px 4px 0 black;
	font-size: min(70px, 12vw);
}

h1,
h2 {
	font-family: "Pacifico", sans-serif;
}

h3,
h4,
h5 {
	font-family: "Bree Serif", serif;
	font-weight: 600;
}

p,
a,
button,
input,
label {
	font-family: "Bree Serif", serif;
	color: var(--text-color);
}

button,
input[type="button"],
input[type="submit"] {
	border: none;
	cursor: pointer;
	color: var(--text-color);
}

/* Reusable main container*/

.main-container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0.5rem 0;
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.background {
	position: absolute;
	z-index: -100;
	opacity: 0.2;
	width: 100vw;
}
